$bgColorPrimary: #EEEEEE;
$bgColorSecondary: rgba(196, 118, 16, 0.01);
$mozSelection: #967762;
$black: #000000;
$white: #ffffff;
$red: #740909;
$nameText: #1A2130;
$titleText: #240750;
$borderPrimary: #478CCF;
$boxShadow: rgba(75, 53, 38, 0.2);
$postBgColor: #3572EF;
$experienceColor: #01204E;
$lightBlueColor: #add8e6;

.background {
  background-color: $borderPrimary;
  color: $white;
  padding: 0 0.2rem;
}
